<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="../static/styles/styles.css">

</head>

<body>
    <h1>Selections</h1>

    {% for item in selections %}
        <form action="/select" method="post">
            <input class="mybutton" type="submit" name="choice" value="{{ item }}">
        </form>
    {% endfor %}

</body>
</html>